body{
    background-color:rgb(61, 59, 59); 
    color:white; 
    width:200px;
    height:100px;
    font-family:'Varela Round';
}

.hidden{
    opacity:0%;
    transition: 2s;
}

.show{
    opacity:100%;
    transition: 2s;
}

#save{
    margin-top:20px;
    background-color:rgb(20, 97, 95);
    color:white;
    width:75px;
    height:30px;
    border:none;
    border-radius:10px;
    cursor:pointer;
    transition: background-color 0.3s ease;
}

#save:hover{
    background-color:rgb(34, 132, 129);
}

#donate-container{
    padding-bottom:10px;
}

#donate{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(26, 57, 95);
    color:white;
    width:100px;
    height:30px;
    border:none;
    border-radius:10px;
    cursor:pointer;
    transition: background-color 0.3s ease;
}

#donate:hover{
    color:white;
    background-color:rgb(47, 92, 146)
}

#paypal-icon{
    width:20px; 
    height:20px;
    margin-right:8px;
}

#interval{
    width: 30px;
}

